        <!--form handling -->
        <!--falta la id -->
        <form action="/API/Users" method="POST" id="registrar">
            <div class="nuevoMaestro"> 
                <div class="form-group">
                    <label for="nombreCompleto" class="text-light">Nombre Completo:</label>
                    <input type="text" name="nombreCompleto" value="" placeholder="Nombre Completo">
                </div>
                <div class="form-group">
                    <label for="Cedula" class="text-light">Cedula:</label>
                    <input type="text" name="Cedula" value="" placeholder="30172932">
                </div>
                <div class="form-group">
                    <label for="Edad" class="text-light">Edad:</label>
                    <input type="text" name="Edad" value="" placeholder="34">
                </div>
                <div class="form-group">
                    <label for="Especialidad" class="text-light">Especialidad:</label>
                    <input type="text" name="Especialidad" value="" placeholder="Criminologia">
                </div>
                <div class="form-group">
                    <label for="Provincia" class="text-light">Provincia:</label>
                    <input type="text" name="Provincia" value="" placeholder="Limón">
                </div>
                <div class="form-group">
                    <label for="FechaIngreso" class="text-light">Fecha de ingreso a la institucion:</label>
                    <input type="text" name="FechaIngreso" value="" placeholder="15/10/2009">
                </div>
                <div class="form-group">
                    <label for="PasswordMaestro" class="text-light">Contraseña:</label>
                    <input type="text" name="PasswordMaestro" value="" placeholder="password123">
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Guardar</button>
                </div>
            </div>
        </form>
        