<!--include header -->
<%- include('include/_header') %>
<!--/include header -->

<!--Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
        <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i> Todos los Usuarios:</a>
        </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">Nuevo Maestro</h2>
            <span class="text-light">Use este formulario para añadir un maestro. </span>
        </div>

        <!--añadir formulario maestro -->
        <%- include('include/_form') %>
    </div>
</main>
<!--/Main Site -->

<!--include footer -->
<%- include('include/_footer') %>
<!--/include footer -->